@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: #5D0E41;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ff204dab;
    color: #fff;
    border: none;
    cursor: pointer;
}

.resetBtn {
    order: 2;
}

.clearTimeBtn {
    order: 1;
}

.startBtn, .stopBtn {
    order: -1;
}

.startBtn, .stopBtn, .getTimeBtn, .clearTimeBtn {
    width: calc(50% - 10px);
}

.resetBtn {
    width: 100%;
}

#countDown {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.resetValue {
    font-size: 1.25rem;
    margin-top: 12px;
}